<a href="{{largeImageURL}}" class="photo-card">
  <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" class="photo"/>
  <div class="info">
    <p class="info-item">
      Likes:
      <b class="info-data"> {{likes}}</b>
    </p>
    <p class="info-item">
      Views:
      <b class="info-data"> {{views}}</b>
    </p>
    <p class="info-item">
      Comments:
      <b class="info-data"> {{comments}}</b>
    </p>
    <p class="info-item">
      Downloads:
      <b class="info-data"> {{downloads}}</b>
    </p>
  </div>
</a>